@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page {
  padding-top: 10px;
  background-image: url("./assets//background1.png"),
    url("./assets//background2.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.box {
  display: flex;
  /* justify-content: center; */
}

.box:first-child > span {
  margin-right: auto;
  width: 7.2vw !important;
}

.box > span {
  text-align: end;
}

.box {
  align-items: center;
}

/* //chat */
.chat-in:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid rgb(241 245 249 / var(--tw-bg-opacity));
  border-left-color: #0000;
  border-bottom-color: #0000;
}

.chat-out:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid rgb(37 99 235 / var(--tw-bg-opacity));
  border-right-color: #0000;
  border-bottom-color: #0000;
}
.sidebar {
  background: rgb(59, 89, 200);
  background: linear-gradient(
    180deg,
    rgba(59, 89, 200, 1) 0%,
    rgba(95, 58, 200, 1) 100%
  );
}

.sidebar-indicator {
  position: absolute;
  display: block;
  width: 20%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  float: right;
  border-radius: 25px 0 0 25px;
  line-height: 30px;
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
  z-index: 5;
}

.sidebar-indicator:after,
.sidebar-indicator:before {
  content: "";
  position: absolute;
  top: -50px;
  right: 22px;
  width: 12px;
  height: 50px;
  border-radius: 0 0 27px 0;
  z-index: -4;
}

.sidebar-indicator:before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

.sidebar-indicator:after {
  box-shadow: 0 25px 0 0 rgb(241 245 249 / var(--tw-bg-opacity));
}

.sidebar-indicator:before {
  box-shadow: 0 -25px 0 0 rgb(241 245 249 / var(--tw-bg-opacity));
}
